.baseSelect {
  $self: &;

  position: relative;
  overflow: hidden;

  &--absolute {
    position: relative;
    overflow: visible;

    #{$self}__body {
      background-color: #fff;
      position: absolute;
      top: 100%;
      left: 0;
      transform: translateY(12px);
      z-index: 1;

      #{$self}__inner {
        margin-top: 0;
      }
    }
  }

  &--open {
    #{$self}__body {
      height: auto;
    }
  }

  &__head {
    background-color: #fff;
    border: 1px solid #b8cad5;
    border-radius: 4px;
    display: flex;
    align-items: center;
    padding: 7px 73px 7px 13px;
    position: relative;
    overflow: hidden;
    width: 100%;

    &::before {
      background-color: #b8cad5;
      content: '';
      top: 8px;
      bottom: 8px;
      position: absolute;
      right: 34px;
      width: 1px;
      z-index: 1;
    }

    &::after {
      content: '';
      position: absolute;
      top: 45%;
      right: 14px;
      border: 3px solid transparent;
      border-right-color: #b8cad5;
      border-bottom-color: #b8cad5;
      transform: translateY(-50%) rotate(45deg);
    }

    #{$self}__placeholder {
      color: #a6b1b8;
      font-size: 18px;
      line-height: 32px;
    }

    #{$self}__clear {
      background-color: transparent;
      border: none;
      position: absolute;
      top: 50%;
      right: 49px;
      height: 12px;
      width: 12px;
      opacity: 0;
      transform: translateY(-50%) rotate(45deg);
      transform-origin: center;
      transition: opacity 0.3s ease;
      z-index: 5;

      &.fade-enter {
        opacity: 1;
      }

      &.fade-exit {
        opacity: 0;
      }

      &::before,
      &::after {
        background-color: #b8cad5;
        content: '';
        top: 50%;
        left: 50%;
        height: 100%;
        position: absolute;
        width: 2px;
        z-index: 1;
      }

      &::before {
        transform: translate(-50%, -50%);
      }

      &::after {
        transform: translate(-50%, -50%) rotate(90deg);
      }
    }
  }

  &__body {
    width: 100%;
    overflow: hidden;
    height: 0;
    transition: 0.3s height ease;

    #{$self}__inner {
      margin-top: 12px;
      border: 1px solid #b8cad5;
      position: relative;

      &::before,
      &::after {
        content: '';
        left: 0;
        width: 100%;
        position: absolute;
        height: 16px;
        z-index: 5;
      }

      &::before {
        top: 0;
        background: linear-gradient(to top, transparent, #fff);
      }

      &::after {
        bottom: 0;
        background: linear-gradient(to bottom, transparent, #fff);
      }

      #{$self}__content {
        align-items: flex-start;
        overflow-y: auto;
        overflow-x: hidden;
        padding: 12px 13px;
        max-height: 200px;
        display: flex;
        flex-direction: column;
      }
    }
  }
}
