@import 'reset-css';
@import 'settings';
@import 'fonts';

* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: 'Segoe UI', sans-serif;
  font-weight: 400;

  & > div {
    height: 100%;
  }
}

button {
  cursor: pointer;

  &:focus {
    outline: none;
  }
}

.page {
  $self: &;

  padding: 34px 96px;

  &__select {
    margin-top: 15px;
    width: 594px;
  }
}

h2 {
  color: #002033;
  font-size: 16px;
}
