.multiSelect {
  $self: &;

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    margin: -8px -10px;
    width: calc(100% + 10px);

    #{$self}__label {
      margin: 8px 10px;
    }
  }

  &__item {
    & + & {
      margin-top: 13px;
    }
  }
}
