.baseLabel {
  align-items: center;
  background: #edf2f4;
  border-radius: 4px;
  border: none;
  color: #33617d;
  font-size: 16px;
  line-height: 1em;
  display: flex;
  padding-left: 12px;
  padding-right: 28px;
  height: 32px;
  position: relative;
  letter-spacing: 0.3px;
  max-width: 100%;
  user-select: none;

  &__clear {
    position: absolute;
    top: 50%;
    right: 8px;
    height: 12px;
    width: 12px;
    transform: translateY(-50%) rotate(45deg);
    transform-origin: center;
    z-index: 5;

    &::before,
    &::after {
      background-color: #b8cad5;
      content: '';
      top: 50%;
      left: 50%;
      height: 100%;
      position: absolute;
      width: 2px;
      z-index: 1;
    }

    &::before {
      transform: translate(-50%, -50%);
    }

    &::after {
      transform: translate(-50%, -50%) rotate(90deg);
    }
  }

  &__content {
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
  }
}
