.baseLabel {
  $self: &;
  $size: 16;

  align-items: flex-end;
  cursor: pointer;
  display: inline-flex;
  position: relative;
  user-select: none;

  &--active {
    #{$self}__box {
      border-color: #0078d2;
      background-color: #0078d2;
    }
  }

  &__input {
    appearance: none;
    position: absolute;
    height: 0;
    width: 0;
    left: 0;
    top: 0;
  }

  &__box {
    border: 1px solid #b8cad5;
    border-radius: 4px;
    height: #{$size}px;
    margin-bottom: 3px;
    transition: 0.3s ease border-color, 0.3s ease background-color;
    position: relative;
    width: #{$size}px;

    &::before {
      border-bottom: 2px solid #fff;
      content: '';
      position: absolute;
      height: 10px;
      width: 4px;
      bottom: 4px;
      transform-origin: center;
      left: 50%;
      transform: rotate(45deg) translate(-20%, 10%);
      z-index: 1;
    }

    &::after {
      border-bottom: 2px solid #fff;
      content: '';
      position: absolute;
      height: 5px;
      width: 10px;
      bottom: 4px;
      transform-origin: center;
      left: 50%;
      transform: rotate(-45deg) translate(-25%, -65%);
      z-index: 1;
    }
  }

  &__content {
    border-color: #fff;
    color: #002033;
    font-size: 16px;
    line-height: 22px;
    margin-left: 9px;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: calc(100% - #{$size}px);
  }
}
